# Default checkmarx-uploader.config file
# Please put the values for your Checkmarx installation below
# as these are simple place holders
# NOTE: Full or relative paths can be used
#   so the example below looks for a directory called 'checkmarx'
#   in the same directory checkmarx-uploader is run in.
watchLocation="checkmarx"
logLocation="log"
