# Production
#tf_url="https://server.example.com/threadfix/rest"
#apikey="V2Gs7eu2qkYrURvqyNoNZgGSHhSI4sG4dkDNYp3ZHdI"

# Local VM
tf_url="https://192.168.56.104/threadfix/rest"
apikey="BGX71PTilsoqn7lSBD6ov0G381NpimSgfxjO2bxxn0Q"

# Localhost
#tf_url="https://localhost:8080/threadfix/rest"
#apikey="Mry4RN77oz0o4Cm2Tfv97cdSJvXLbOVP0natLfReko"
